#root {
  margin: 0;
  padding: 0;
}

.tile_option__small {
    width: 64px;
    height: 64px;
}

.tile_grid_row {
    display: flex;
    * {
        user-select: none;
    }
}

.tile_grid_row:nth-child(odd) {
    margin-left: 82px;
}

.tile_grid_row:not(:first-child) {
    margin-top: -16px;
}

